In [1]:
import itertools

In [2]:
'''exemplo 1 | range()'''

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
'''exemplo 2 | iterar lista'''

frutas = ['maça', 'banana', 'laranja']

print(frutas)

for fruta in frutas:
    print(fruta)

['maça', 'banana', 'laranja']
maça
banana
laranja

In [6]:
'''exemplo 3 | iterar dicionario'''

pessoa = {
    'nome': 'alice',
    'idade': 30
}

for chave in pessoa:
    print(chave, pessoa[chave])

nome alice
idade 30

In [7]:
'''exemplo 4 | enumerate()'''

for indice, fruta in enumerate(frutas):
    print(indice, fruta)

0 maça
1 banana
2 laranja

In [8]:
'''exemplo 5 | zip()'''

nomes = ['Henrique','Alice','Carlos','Bob','José']
idades = [10,12,13,14,15]

for nome, idade in zip(nomes, idades):
    print(nome, idade)

Henrique 10
Alice 12
Carlos 13
Bob 14
José 15

In [9]:
'''exemplo 6 | itertools'''

for i in itertools.count(start=1, step=2):
    if i > 20:
        break
    print(i)

1
3
5
7
9
11
13
15
17
19